@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.signUp {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
}

.signUp__body {
    width: 375px;
    height: 667px;
    background: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.signUp__info {
    margin: 20% 0% 0 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.signUp__info h1 {
    font-weight: 300;
    font-size: 36px;
    margin: 20px 0 10px 0;
    line-height: 44px;
    letter-spacing: 0.15em;
}

.signUp__info p {
    font-size: 12px;
}

.signUp__info p span {
    font-weight: 600;
}

.signUp__form {
    margin: 10% 0% 0 15%;
}

.signUp__form input {
    width:  250px;
    padding: 10px;
    font-family: Montserrat;
    border: 0.5px solid lightgray;
}

.signUp__formInput1 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none !important;
}

.signUp__formInput2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.signUp__form button {
    width:  250px;
    padding: 10px 0px;
    margin-top: 8%;
    background-color: #533EDE;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0.15em;
}

.signUp__form p {
    font-family: Montserrat;
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
}

.signUp__form span {
    color: #3D28CF;
    font-weight: bold;
}
@media (max-width: 420px) {
    .signUp__body {
        width: 100%;
        height: 100vh;
    }
}
